body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif,'Algerian';
}
@media(max-height:800px){
    .section_top{
        position: static;
    }
}
.section_top{
    width: 100%;
    height: 100%;
   overflow: hidden;
    position: relative;
    background-image: url(back1.jpeg);
    background: rgba(7, 4, 4, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

.content{
    position: absolute;
    margin-left: 30px;
    margin-top: 18%;
    text-align: left;
    position: absolute;
    
}
.content h1{
    color: white;
    font-size: 55px;
}
.content p{
    color: white;
    font-size: 20px;
    padding-top: 0%;
    margin-top: 10px;
}
.content button{
    border: none;
    background: rgb(248, 34, 63);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
    position: absolute;
}


.blog{
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    
}
@media (max-width:600px){
    .blog{
        flex-direction: column;
    }
    
}

.blog1{
    position: relative;
    margin: 20px 20px;
    justify-content: center;
    max-width: 170px;
    padding: 50px;
    font-weight: 500;
    background: rgba(223, 185, 185, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 20px;

}
h3{
    color:rgb(241, 55, 55); ;
}
.fa-solid{
    size: 20px;
    color:#f13737;
    size: 20px;
}
.fa-regular{
    color: rgb(241, 52, 52);
}

.blog1 p{
        color:black;
    }
@keyframes change{
    0%{
        background-image: url(img/image1.jpeg);
    }
    25%{
        background-image: url(img/image3.jpeg);
    }
    50%{
        background-image: url(img/image2.jpeg);
    }
    75%{
        background-image: url(img/back4.jpeg);
    }
    100%{
        background-image: url(img/image4.jpeg);
    }
}
@media(max-height:800px){
   nav{
    position: static;
   }
   button{
    font-size: 10px;
    padding: 8px 16px;
   }

}
    

nav{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(148, 147, 184, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "poppins",sans-serif;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.logo{
    display: flex;
    margin-top: 5px;
}

.logo p{
    margin-left: 10px;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
}
nav img{
    width: 100px;
    max-height: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav ul li a:hover{
    border-radius: 20px;
    padding: 10px;
    background-color: royalblue;
    transition: .3s;  
}

nav span a{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    background-color: #f13737;
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}

button{
    border: none;
    background:rgb(241, 55, 55);
    padding: 10px 26px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: .4s;
    position: absolute;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
#b{
    border: 2px;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    transition: .4s;
}
#events{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: rgb(241, 55, 55);
}
.blog-heading h3{
    font-size: 1.8rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec ;
    margin: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 30px;
}
.blog-img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
}
.blog-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color:rgb(241, 55, 55);
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover{
    color: rgb(241, 55, 55);
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
    text-decoration: none;

}
.blog-text a:hover{
    color:rgb(241, 55, 55) ;
    transition: all ease 0.3s;
}
footer{
    position: fixed;
    bottom: 0;
}
.footer{
    background-color: #040a18;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer-left,
.footer-center,
.footer-right{
    display: inline-block;
    vertical-align: top;
}
@media(max-height:800px){
    footer{
        position: static;
    }
}
.footer .footer-left{
    width: 30%;
}
.footer h3{
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: sans-serif, 'poppins';
}
.footer .footer-left img{
    width: 25%;
    vertical-align: middle;
}
.footer .footer-left .credit-cards{
    width: 100%;
}
.footer .footer-copyright{
    color: #8f9295;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}
.footer .footer-center{
    width: 35%;
}
.footer .footer-center i{
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer .footer-center p a{
    color: #ffffff;
    text-decoration: none;

}
.footer .footer-right{
    width: 30%;
}
.footer .footer-about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer .footer-about span{
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .footer-media{
    margin-top: 4%;
    margin-left: 30%;
}
.footer .footer-media a{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-align: center;
    align-content: center;
    line-height: 50px;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top: 1px;
}
.footer .footer-media a:hover{
    background-color: rgb(241, 55, 55);
}
@media(max-width:800px){
    .footer-left,
.footer-center,
.footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
}
.footer .footer-center i{
    margin-left: 0;
}
}
