*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'poppins';
}
.top-banner{
    width: 100%;
    height: 350px;
    background-image: url(img/events.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(148, 147, 184, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "poppins",sans-serif;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.logo{
    display: flex;
    margin-top: 5px;
}

.logo p{
    margin-left: 10px;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
}
nav img{
    width: 100px;
    max-height: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav ul li a:hover{
    border-radius: 20px;
    padding: 10px;
    background-color: royalblue;
    transition: .3s;  
}

nav span a{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    background-color: #f13737;
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}
nav .fa-regular {
    display: none;
}
nav .fa-solid{
    display: none;
}

button{
    border: none;
    background:rgb(241, 55, 55);
    padding: 10px 26px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: .4s;
    position: absolute;
}
@media(max-width:600px){
    nav{
     position: static;
     max-height: 20%;
     
    }

    button{
     font-size: px;
     padding: 8px 16px;
    }

    nav img{
        width: 80px;
    max-height: 45px;
    margin-left: 15px;
    margin-bottom: 8px;
    margin-top: 12px;
    }
    .logo p{
        font-size: 15px;
    }
    nav ul li{
        padding: 6px 12px;
    }
    nav ul li a{
        font-size: 10px;
    }
    nav ul li a:hover{
        border-radius: 14px;
        padding: 8px;
    }
    span a{
        font-size: 10px;
    }
 
 }
     
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

button{
    border: none;
    background:rgb(241, 55, 55);
    padding: 10px 26px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: .4s;
    position: absolute;
}
.message{
    color:rgb(252, 249, 250);
    padding-top: 100px;
    font-size: 38px;
    text-shadow:black ;
}
.date-box{
    width: 120px;
    height: 120px;
    background-color: rgb(8, 186, 240);
    text-align: center;
    justify-content: center;
    float: left;
    align-items: center;
}
span{
    font-size: 18px;
}
h3{
    color: #ffff;
    padding-top: 20px;
}
h1{
    margin-left: 45%;
    margin-top: 30px;
}
#note{
    margin-left:44.5% ; 
    font-weight: 3px;
    color: rgb(82, 84, 85);
    font-size: 20px;
}
.conference-box{
    border: 2px;
    border-style: groove;
    height: 117px;
    width: 700px;
    text-align: center;
    
}
h2{
    padding-top: 15px;
}
.main-cards{
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tab-titles{
    display: flex;
    margin-left: 38%;
}

.tab-links{
    margin: 20px;
    font: size 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 125px;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-links::after{
    width: 100%;
}
.tab-links:hover::after{
    width: 0;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b547b5;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


#first{
    margin-bottom: 35px;
}
#second{
    margin-bottom: 35px;
}
#third{
    margin-bottom: 35px;
}
#notes{
    color: rgb(104, 106, 107);
}  
@media screen and (max-width: 900px) {
    .container{
        margin: 0;

        padding: 0;
    }

    nav img{
        margin-top: 10px;
        margin-left: 5px;
        width: 80px;
    }
    .logo p{
        font-size: 18px;
        margin-top: 15px;
    }

    nav .fa-regular {
        display: block;
        font-size: 35px;
        color: white;
    }
    nav .fa-solid{
        display: block;
        font-size: 35px;
        color: white;
        margin-right: 20px;
    }
    nav ul {
        background: rgb(133, 133, 184);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 20px;
    }
    nav span a{
        font-weight: bold;
        border-radius: 20px;
        padding: 5px;
        background-color: #f13737;
        text-decoration: none;
        color: #ffffff;
    display: block;
    margin: 10px;
    }
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .top-banner{
        position: static;
        max-height: 70%;
        text-align: center;
        justify-content: center;
        
    }
    .main-cards{
        margin-left: 8.5%;
    }
    .message{
        font-size: 25px;
    }
    h1{
        font-size: 28px;
        margin-left: 142px;
    }
    .date-box{
        max-width: 20%;
        max-height: 80px;
    }
    .conference-box{
        max-width: 90%;
        max-height: 78px;
    }
    span{
        font-size: 18px;
    }
     h3{
        font-size: 15px;
    }
    h2{
        font-size: 20px;
    }
    #main{
        font-size: 38px;
    }
    #note{
        margin-left: 142px;
    }
    .tab-titles{
        margin-left: 12%;
    }
}
