body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #333;
}
nav{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(148, 147, 184, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "poppins",sans-serif;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.logo{
    display: flex;
    margin-top: 5px;
}

.logo p{
    margin-left: 10px;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
}
nav img{
    width: 100px;
    max-height: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav ul li a:hover{
    border-radius: 20px;
    padding: 10px;
    background-color: royalblue;
    transition: .3s;  
}

nav span a{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    background-color: #f13737;
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}

.main{
    margin-top: 50px;
    text-align: center;
}
.mobile_money{
    margin-left: 35%;
    margin-right: 35%;
    font-size: 50px;
    font-weight: bolder;
    background-color: rgb(15, 15, 117);
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
}

.mobile_money2{
    margin-left: 20%;
    margin-right: 80%;
    font-size: 50px;
    font-weight: bolder;
    background-color: rgb(15, 15, 117);
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
}

.main p{
    font-size: 30px;
    font-weight: bold;
}

h1{
    font-weight: bolder;
    font-size: 50px;
}
