*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: aliceblue;
    color: black;
}

.body{
    margin-top: 50px;
}

nav{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(148, 147, 184, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "poppins",sans-serif;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    z-index: 100;
}

.logo{
    display: flex;
    margin-top: 5px;
}

.logo p{
    margin-top: 20px;
    margin-left: 10px;
    color:#ffffff;
    font-size: 20px;
    text-align: center;
}
nav img{
    width: 100px;
    max-height: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav ul li a:hover{
    border-radius: 20px;
    padding: 10px;
    background-color: royalblue;
    transition: .3s;  
}

nav span a{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    background-color: #f13737;
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}

.resource{
    position: static;
    background-image: url('img/0.jpeg');
    height: 210px;
    background-size: cover;
    text-align: center;
    background-color: rgba(66, 74, 141, 0.5);
    background-blend-mode: overlay;
    color: #ffffff;
}

.text{
    position: static;
    font-size: 150px;
    font-weight: bolder;
    text-align: center;
}

.container {
    background-color: rgb(219, 219, 233);
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin-left: 20px;
}

.container a{
    color: #000000;
    text-decoration: none;
}

.img{
    flex: 1 0 200px;
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    height: 350px;
    width: 350px;
}

.text2{
    text-align: center;
    display: block;
    background-color: #ffff;
    border: inherit;
    margin: inherit;
    box-sizing: inherit;
    padding: 20px;
    max-width: inherit;
}

.download{
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    background-color: #02026b;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10%;
}

footer{
    position: fixed;
    bottom: 0;
}
.footer{
    background-color: #040a18;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer-left,
.footer-center,
.footer-right{
    display: inline-block;
    vertical-align: top;
}
@media(max-height:800px){
    footer{
        position: static;
    }
}
.footer .footer-left{
    width: 30%;
}
.footer h3{
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: sans-serif, 'poppins';
}
.footer .footer-left img{
    width: 25%;
    vertical-align: middle;
}
.footer .footer-left .credit-cards{
    width: 100%;
}
.footer .footer-copyright{
    color: #8f9295;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}
.footer .footer-center{
    width: 35%;
}
.footer .footer-center i{
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer .footer-center p a{
    color: #ffffff;
    text-decoration: none;

}
.footer .footer-right{
    width: 30%;
}
.footer .footer-about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer .footer-about span{
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .footer-media{
    margin-top: 4%;
    margin-left: 30%;
}
.footer .footer-media a{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-align: center;
    align-content: center;
    line-height: 50px;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top: 1px;
}

.footer .footer-media a:hover{
    background-color: rgb(241, 55, 55);
}
@media(max-width:800px){
    .footer-left,
.footer-center,
.footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
}
.footer .footer-center i{
    margin-left: 0;
}
}